*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DD3C54;
  height: 500px;
  width: 500px;
}

.box img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}